# =========================
# Ignora tutto nella root tranne file essenziali e cartelle necessarie
# =========================

# Ignora tutto
/*

# Riammetti file essenziali nella root
!README.md
!LICENSE
!hacs.json

# =========================
# Riammetti cartelle necessarie
# =========================

# Riammetti la cartella custom_components e tutto il suo contenuto
!custom_components/
!custom_components/ialarm_mk2/
!custom_components/ialarm_mk2/**

# =========================
# Ignora file generati da Python
# =========================

*.pyc
__pycache__/

# =========================
# Altri file/dir da ignorare
# =========================

# Cartelle temporanee o log
*.log
*.tmp
custom_components/hacs/
custom_components/hacs/*
custom_components/hacs/**
custom_components/ialarm_controller/
custom_components/ialarm_controller/*
custom_components/ialarm_controller/** */
